<%= title(space_title(@space)) %>

<div class="row-fluid">
    <div class="span4">
        <%= minor_tabs(@space).html %>
    </div>

    <div class="span8">
        <div class="bs-docs-example">
            <%= render('form', :space => @space, :repository => @repo) %>
        </div>
    </div>
</div>




