<%= title(space_title(space)) %>

<div class="row-fluid">
    <div class="span3">
        <%= minor_tabs(space).html %>
    </div>

    <div class="span9">
        <div class="boxed-group">
            <h3>New Repository</h3>
            <div class="boxed-group-inner">
                <%= render('form', :space => space, :repository => repository) %>
            </div>
        </div>
    </div>
</div>




