- title('Help')

%p
  You may want to start by reading the 
  %a{ :href => 'https://wikihub.berkeley.edu/display/ucbdvkt/Code+at+Berkeley+-+User+Manual'} Users Manual


%p
  Check for questions on our
  %a{ :href => 'https://wikihub.berkeley.edu/display/ucbdvkt/Code+at+Berkeley+-+FAQs' } FAQ

%p
  We also have a 
  %a{ :href => 'https://wikihub.berkeley.edu/display/ucbdvkt/Code+at+Berkeley+Service+Page' } Service Page

%p
  If you still have questions or need help, send email to 
  %a{ :href => 'mailto: svn-support@lists.berkeley.edu' } svn-support@lists.berkeley.edu


