
%blockquote
  %p= "Owner: #{repository.owner_name}"

%div.row-fluid
  %form.form-horizontal.repository-clone
    %div.input-prepend
      %span.add-on SVN URL
      %input#prependedInput{ :type => 'text', :value => repository.url }
