<table id="repository_detail" style="text-align: left;">
  <tr>
    <th>Space</th>
    <th>Owner</th>
    <th>URL</th>
  </tr>

  <tbody>
    <tr>
      <td><%= repository.space.name() %></td>
      <td><%= repository.owner.full_name() %></td>
      <td><%= repository.url() %></td>
    </tr>
  </tbody>
</table>

<div>
  <strong>Jump to Space:</strong>
  <%= link_to(repository.space.name(), edit_admin_space_url(repository.space)) %>
</div>
