<div class="row-fluid">
    <form class="form-horizontal repository-clone">
        <div class="input-prepend">
            <span class="add-on">SVN URL</span>
            <input id="prependedInput" type="text" value="<%= repository.url %>">
        </div>
    </form>
</div>
