<%= title(space_title(space)) %>

<div class="row-fluid">
    <div class="span3">
        <%= minor_tabs(space).html %>
    </div>

    <div class="span9 boxed-group">
        <h3>New Deploy Key</h3>

        <div class="boxed-group-inner">
            <%= render('form', :deploy_key => deploy_key, :space => space,
                       :form_url => { :action => :create, :space_id => space }) %>
        </div>
    </div>
</div>
