<% title("Repository Info") %>

<% set_bread_crumbs(:repository_directory_crumb, @repo.name) %>

<%= link_to("&larr; Back", repository_directory_url) %>

<div class="page_content mid_width">
  <p style="padding-left: 1em;">
    <em>
    If you would like access to this repository, please send email to the 
    repository owner with your request.</em>
  </p>

  <%= render(:partial => "form") %>
  <br/>
</div>
