<% title(user_title(@user)) %>

<%= error_count_message_for(:key) %>

<%= user_left_nav_tabs.html() %>

<div class="page_content_right">
  <%= render(:partial => 'form', :locals => {:key => @key, :user => @user}) %>
</div>
