<%= title(user_title(user)) %>


<div class="row-fluid">
    <div class="span4">
        <%= user_left_nav_tabs(user).html %>
    </div>

    <div class="span8 bs-docs-example">
        <%= render('form', :ssh_key => ssh_key, :user => user) %>
    </div>
</div>

