<table class="table table-condensed">
    <tbody>
        <tr>
            <th>Last Login</th>
            <td><%= date_or_none(user.last_login) %></td>
        </tr>
        <tr>
            <th>Last SVN Access</th>
            <td><%= date_or_none(user.last_svn_access) %></td>
        </tr>
        <tr>
            <th>Created At</th>
            <td><%= date_or_none(user.created_at) %></td>
        </tr>
        <tr>
            <th>Updated At</th>
            <td><%= date_or_none(user.updated_at) %></td>
        </tr>
    </tbody>
</table>
