<h2>Repositories</h2>

<table id="repositories" class="table table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Space</th>
            <th>Owner</th>
        </tr>
    </thead>

    <tbody>
        <tr id="{{repository.id}}" data-ng-repeat="repository in getRepositories()">
            <td>{{repository.name}}</td>
            <td>{{repository.space.name}}</td>
            <td>{{repository.space.owner.full_name}}</td>
        </tr>
    </tbody>
</table>
