%div.invitation{ :style => 'text-align: center;' }
  %p
    %em
      Don't see the person you're looking for?
      %strong= link_to('Invite', new_invitation_url)
      them to sign up for
      %strong Code@Berkeley
