<p style="font-size: 11pt;">
  <em>Don't see the person you're looking for?
    <strong><%= link_to("Invite", new_invitation_url(), :rel => "facebox") %></strong>
    them to sign up for <strong>Code@Berkeley</strong>.</em>
</p>
