<div id="repository_confirm_update">
  <div class="ui-widget">
    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
      <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
	<strong>Alert:</strong> You are about to make a serious change to your repository.</p>
    </div>
  </div>
  <br/>
  <p>Changing the name and/or space of a repository will require all users of the repository to update their svn connection information for this repository!</p>
  <br/>
  <p>Are you sure you want to make these changes?</p>
</div>

