<div id="space_confirm_update">
  <div class="ui-widget">
    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
      <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
	<strong>Alert:</strong> You are about to make a serious change to this space which 
        affects all of its repositories.
      </p>
    </div>
  </div>
  <br/>
  <p>
    Changing the name this space will change the svn connection url for all of its repositories. 
    All users of these repositories will need update their svn connection information!
  </p>
  <br/>
  <p>Are you sure you want to make these changes?</p>
</div>
